* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
}

body > header {
  display: flex;
  background-color: #8625d2;
  color: white;
  font-size: 24px;
  padding: 20px 0;
  justify-content: center;
}
